{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{range .Site.Pages}}
<div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
        <header>
            <h1 class="f1"> 
            
              <img src="{{.Params.member|absURL }}"> 
              Name:{{.Params.name}}
              Type:{{.Params.membertype}}
              Position:{{.Params.position}}
              <!-- {{.Content}} -->
            
    
            </h1>
        </header>
        <!-- <div class= "member-grid-container nested-copy-line-height lh-copy f4 nested-links {{ $.Param " text_color" | default "mid-gray" }}" >
            {{ .Content }} 
        </div> -->
        
    </article>
</div>
{{end}}
{{ end }}